.navbar{
    background-color: khaki;
    height: 45px;
    padding-bottom: 10px;
    margin:0px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;    
  }
  li {
    float: left;    
  }
  
  li a {
    display: flex;
    padding: 15px 10px;
    border:none;
    color: green;
    text-align: center;    
    text-decoration: none;
    font-style: oblique;
  } 
  
  li a:hover {
    background-color:lightpink;
  }
  li a:visited{
      color:indianred;
    }
  
    .logo{
        font-weight: 700;
        font-style: oblique;
        float: left;
        display: flex;
        font-size: 45px;
        padding-right: 15px;
        text-decoration-style: dotted;
    }
    .logo span{
        color:green;
    }
    .column1 {
      float: left;
      width: 10%;
      padding-right: 2px;
      padding-top: 58px;      
    }
    .myimage{
      border: 1px;
      border-color:blue;
      border-image-slice: fill;        
      padding: 5px; 
      width: 100px;
      height: 90px;
}
imgcaption {
  color: red;
  font-style: italic;    
  padding: 0px;
  text-align: left;
}
.bio{
  display:block;
}
h1,h2{
    text-align: center;
}